@page "/users"

@using PointOfSaleClient.Models
@using PointOfSaleClient.Services
@using DevExpress.Blazor
@inject NavigationManager navigationManager
@inject IItemService ItemService

<h3>Users</h3>

@code {

}
