<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./dashboard" Text="Overview"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="./items" Text="Items"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="./users" Text="Users"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="./logout" Text="LogOut"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}